[Unit]
Description=Lock the screen when idle and before sleep
PartOf=dots-session.target
After=graphical-session.target

[Service]
ExecStart=swayidle -w timeout 600 '%h/.local/bin/dots-lock' before-sleep '%h/.local/bin/dots-lock'
Restart=on-failure
RestartSec=2

